<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="log" />
	<property name="LOG_NAME" value="logWeb" />
	<timestamp key="timestamp" datePattern="yyyyMM"/>
	
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Configuración para que se almacene el log en un fichero: File Appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_NAME}-${timestamp}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			 <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n</pattern>
		</encoder>

		<!-- Política de rotado de logs: diario y cuando el fichero llegue a los  10 MB -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${LOG_NAME}_backup-%d{yyyy-MM}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
     <logger name="com.finProyecto.fimoteca.web" level="debug">
  		<appender-ref ref="FILE" />
	</logger>
    
</configuration>